:css
  .btn.category-choose{
   font-size: 1.4em;
   margin-top: 2em;
   border-color: #{darken_color(@idea.color, 0.8)};
  background-color: #{darken_color(@idea.color, 0.8)};
  color: white;
  margin-bottom: 2em;
  }
  .btn.category-choose:hover{
    background-color: #{darken_color(@idea.color, 0.2)};
  }
.banner-container{style: "background: #{@idea.color}; color: white;"}
  .container
    .row
      .col-md-3
      .col-md-6
        %br
        %h1
          %strong= @idea.name
        .hero
          %img.img-responsive{alt: "", src: "#{@idea.picture}"}/
        %br
        = @idea.description.html_safe
      %div.text-center
        .btn-group
          - Idea::TIMES.each do |v|
            - if @idea.time == v[:value]
              .btn.time{style: "background: #{darken_color(@idea.color, 0.8)}; color: white;"}
                .icons{style: "background-position: #{v[:image]}"}
                = v[:value]
          - Idea::CASH.each do |v|
            - if @idea.cash == v[:value]
              .btn.cash{style: "background: #{darken_color(@idea.color, 0.8)}; color: white;"}
                .icons{style: "background-position: #{v[:image]}"}
                = v[:value]
          - Idea::GROUP.each do |v|
            - if @idea.group_type == v[:value]
              .btn.group_type{style: "background: #{darken_color(@idea.color, 0.8)}; color: white;"}
                .icons{style: "background-position: #{v[:image]}"}
                = v[:value]
          - Idea::PLACEMENTS.each do |v|
            - if @idea.placement == v[:value]
              .btn.placement{style: "background: #{darken_color(@idea.color, 0.8)}; color: white;"}
                .icons{style: "background-position: #{v[:image]}"}
                = v[:value]
        .hero-btn.text-center{style: "margin-top: 2em;"}
          = link_to root_path, class: "btn btn-lg category-choose" do
            Pomóż mi ponownie
/ .hero
/   .container
/     .hero-inner
/       .hero-head.text-center
/         / Hero heading
/         %h1.head-h
/           %strong= @idea.name
/       .row
/         .col-md-6.col-sm-6
/           / Hero head paragraph
/           %p.text-right
/             %img.img-responsive{alt: "", src: "#{@idea.picture.url(:medium)}"}/
/           .hero-btn
/             = @idea.category.name
/         .col-md-6.col-sm-6
/           = @idea.description.html_safe
/           .hero-btn
/             %a.btn.btn-info{href: "#"} Read More..
/     %hr/