/ Revolution Slider Start
/ Full width Banner container
- color = Idea::FRONT_COLORS.shuffle.first
.banner-container{style: "background: #{color.first}"}
  .container
    :css
      .btn.icon_choose:hover, .btn.icon_choose.active{
        background-color: #{color.last};
      }
      .btn.category-choose{
       font-size: 1.4em;
       margin-top: 2em;
       border-color: #{color.first};
        background-color: #{color.last};
        margin-bottom: 2em;
      }
      .btn.category-choose:hover{
        background-color: #{darken_color(color.last, 0.2)};
      }
    .row
      %h2.text-center{style: "color:white; margin-bottom: 1em;"} Określ
      %div.text-center
        .btn-group-vertical{style: "margin: 0 1em;"}
          %strong{style: "color:white"}  Czas
          - Idea::TIMES.each do |v|
            .btn.time.icon_choose
              .icons{style: "background-position: #{v[:image]}"}
              = v[:value]
        .btn-group-vertical{style: "margin: 0 1em;"}
          %strong{style: "color:white"}  Pieniądze
          - Idea::CASH.each do |v|
            .btn.cash.icon_choose
              .icons{style: "background-position: #{v[:image]}"}
              = v[:value]
        .btn-group-vertical{style: "margin: 0 1em;"}
          %strong{style: "color:white"}  Osoby
          - Idea::GROUP.each do |v|
            .btn.group_type.icon_choose
              .icons{style: "background-position: #{v[:image]}"}
              = v[:value]
        .btn-group-vertical{style: "margin: 0 1em;"}
          %strong{style: "color:white"}  Miejsce
          - Idea::PLACEMENTS.each do |v|
            .btn.placement.icon_choose
              .icons{style: "background-position: #{v[:image]}"}
              = v[:value]

    .row.text-center
      = simple_form_for :filter, :url => search_ideas_path do |f|
        = f.input :placement, as: :hidden, input_html: { value:  "" }
        = f.input :cash, as: :hidden, input_html: { value:  "" }
        = f.input :group_type, as: :hidden, input_html: {value:  ""}
        = f.input :time, as: :hidden, input_html: {value:  ""}
        = f.button :submit, "POMÓŻ MI WYBRAĆ", :class => 'btn btn-primary btn-lg category-choose', data: { disable_with: "Szukam..."}          
        -# .btn.btn-primary= category.name

  .clearfix
  / Revolution Slider End

:javascript
  $(function(){
    $(".placement").click(function(){
      $("#filter_placement").attr('value', $(this).text().trim())
      $('.placement').removeClass('active')
      $(this).addClass('active')
    })
    $(".cash").click(function(){
      $("#filter_cash").attr('value', $(this).text().trim())
      $('.cash').removeClass('active')
      $(this).addClass('active')
    })
    $(".group_type").click(function(){
      $("#filter_group_type").attr('value', $(this).text().trim())
      $('.group_type').removeClass('active')
      $(this).addClass('active')
    })
    $(".time").click(function(){
      $("#filter_time").attr('value', $(this).text().trim())
      $('.time').removeClass('active')
      $(this).addClass('active')
    })
  })