/ Revolution Slider Start
/ Full width Banner container
.banner-container
  .container
    .row
      .col-md-6
        .btn-group.pull-right.btn-group-justified
          - Idea::TIMES.each do |v|
            .btn.btn-primary.btn-lg.time
              = v[:value]
      .col-md-6
        .btn-group.btn-group-justified
          - Idea::CASH.each do |v|
            .btn.btn-primary.btn-lg.cash
              = v[:value]

    .row{style: "margin-top: 20px;"}
      .col-md-6
        .btn-group.pull-right.btn-group-justified
          - Idea::GROUP.each do |v|
            .btn.btn-primary.btn-lg.group_type
              = v[:value]
      .col-md-6
        .btn-group.btn-group-justified
          - Idea::PLACEMENTS.each do |v|
            .btn.btn-primary.btn-lg.placement
              = v[:value]

    .row
      = simple_form_for :filter, :url => search_ideas_path do |f|
        = f.input :placement, as: :hidden, input_html: { value:  "" }
        = f.input :cash, as: :hidden, input_html: { value:  "" }
        = f.input :group_type, as: :hidden, input_html: {value:  ""}
        = f.input :time, as: :hidden, input_html: {value:  ""}
        = f.button :submit, "LOSUJ", :class => 'btn btn-primary search_videos category', data: { disable_with: "Szukam..."}          
        -# .btn.btn-primary= category.name

  .clearfix
  / Revolution Slider End

:javascript
  $(function(){
    $(".placement").click(function(){
      $("#filter_placement").attr('value', $(this).text().trim())
    })
    $(".cash").click(function(){
      $("#filter_cash").attr('value', $(this).text().trim())
    })
        $(".group_type").click(function(){
      $("#filter_group_type").attr('value', $(this).text().trim())
    })
        $(".time").click(function(){
      $("#filter_time").attr('value', $(this).text().trim())
    })
  })