!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => :viewport}/
    %title= content_for?(:title) ? yield(:title) : :"Idea Cards Admin"
    %meta{:content => content_for?(:description) ? yield(:description) : "", :name => :description}/
    = stylesheet_link_tag :application, :media => :all
    = stylesheet_link_tag :admin, :media => :all
    = javascript_include_tag :application
    = csrf_meta_tags
    = yield(:head)
  %body.background-dark

    .navbar
      .container
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to root_path, class: "navbar-brand salmon" do
          Idea Cards
        / Place everything within .navbar-collapse to hide it until above 768px
        .nav-collapse.collapse.navbar-responsive-collapse
          .navbar-inner
            %ul.nav.navbar-nav  
              %li
                = link_to :'Wyloguj', destroy_user_session_path, :method=>:delete
    .container
      %nav.navbar.navbar-default{role: "navigation"}
        / Brand and toggle get grouped for better mobile display
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        / Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-ex1-collapse
          %ul.nav.navbar-nav
            %li
              = link_to 'Pomysły', admin_ideas_path
            %li
              = link_to 'Kategorie', admin_categories_path
            %li
              = link_to 'Grupy', admin_social_categories_path


    .container
      .row
        = render 'layouts/shared/messages'
        = yield
      %footer
        %p © IdeaCards 2013